{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'patients/style.css' %}">

<nav>
    {% if user.is_authenticated %}
        <ul class="navbar">
            <li>
                <a href="{% url 'patients:index' %}">
                    Acuvere
                </a>
            </li>
            <li>
                <a href="{% url 'patients:health' %}">
                    Health
                </a>
            </li>
            <li>
                <a href="{% url 'patients:biometrics' %}">
                    Biometrics
                </a>
            </li>
            <li>
                <a href="{% url 'patients:appointments' %}">
                    Appointments
                </a>
            </li>
            <li>
                <a href="{% url 'patients:tasks' %}">
                    Tasks
                </a>
            </li>
            <li>
                <a href="{% url 'users:logout' %}">
                    Logout
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="navbar">
            <li>
                <a href="{% url 'patients:index' %}">
                    Acuvere
                </a>
            </li>
            <li>
                <a href="{% url 'users:register' %}">
                    Register
                </a>
            </li>
            <li>
                <a href="{% url 'users:login' %}">
                    Login
                </a>
            </li>
        </ul>
    {% endif %}
</nav>

<main>
    {% block content %}{% endblock content %}
</main>

