<h1>
    <a href="{% url 'patients:index' %}">
        Acuvere
    </a>

    {% if user.is_authenticated %}
        <ul>
            <li>
                <a href="{% url 'patients:health' %}">
                    Health
                </a>
            </li>
            <li>
                <a href="{% url 'patients:appointments' %}">
                    Appointments
                </a>
            </li>
            <li>
                <a href="{% url 'patients:tasks' %}">
                    Tasks
                </a>
            </li>
            <li>
                <a href="{% url 'users:logout' %}">
                    Logout
                </a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <a href="{% url 'users:register' %}">
                    Register
                </a>
            </li>
            <li>
                <a href="{% url 'users:login' %}">
                    Login
                </a>
            </li>
        </ul>
    {% endif %}
</h1>

{% block content %}{% endblock content %}
